@import './Styles/NavigationBar.css';
@import './Styles/Home.css';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Monoton&family=Rubik+Glitch&display=swap');

.Monoton {
  font-family: 'Monoton', cursive;
}

.AlfaSlabOne {
  font-family: 'Alfa Slab One', cursive;
}

.Glitch {
  font-family: 'Rubik Glitch', sans-serif;
}

.container {
  overflow-x: hidden;
}